h1{
  color: white;
  text-shadow: 5px, 5px, 20px white;
}
h2{
  color:white;
  text-shadow: 5px, 5px, 20px white;
}
body{
  background-color: black;
}
img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}